<!DOCTYPE html>
<html>
<head>
  <title>All Users Information</title>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
  <h1>All Users Information</h1>
  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Total Orders</th>
        <th>Created At</th>
        <th>Last Logged In</th>
      </tr>
    </thead>
    <tbody>
      <% for (const user of users) { %>
        <tr>
          <td><%= user.user_id %></td>
          <td><%= user.user_name %></td>
          <td><%= user.user_email %></td>
          <td><%= user.total_orders %></td>
          <td><%= user.created_at %></td>
          <td><%= user.last_logged_in %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>
